a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}


.navbar{
    background: rgba(28, 30, 83, 1);
    padding: 16px !important;
}
.navbar .navbar-nav{
    column-gap: 32px;
}
.navbar .nav-link{
color: rgba(255, 255, 255, 0.845);
font-size: 16px;
font-weight: 500;
line-height: 28px;
font-family: "Poppins", sans-serif;
transition: .4s;
padding: 0 !important;
}
.navbar .nav-item:hover .nav-link{
color: rgb(17, 210, 17);

}
.navbar .navber-button{
    background: transparent;
   padding: 16px 48px;
   border-radius: 41px; 
color: rgb(255, 255, 255);
border: 2px solid #F4F6FC33;
font-size: 16px;
font-weight: 500;
font-family: "Poppins", sans-serif;
transition: .4s;
margin-left: 48px;
}
.navbar .navber-button:hover{
background: yellow;
border-color: transparent;
color: rgb(0, 0, 0);
}

.banner{
background: #1C1E53;
padding-top: 126px;
padding-bottom: 157px;
}
.banner h1{
font-size: 54px;
font-weight: 600;
color: white;
font-family: "Poppins", sans-serif;
width: 582px;
line-height: 74px;

}
.banner p{
font-size: 16px;
font-weight: 500;
color: white;
font-family: "Poppins", sans-serif;
width: 562px;
line-height: 28px;
padding-top: 24px;
padding-bottom: 48px;
}

.banner .common-button{

background:#FCD980;
   padding: 16px 56px;
   border-radius: 41px; 
color: rgb(0, 0, 0);
border: 1px solid transparent;
font-size: 18px;
font-weight: 600;
line-height: 32px;
transition: .4s;
font-family: "Manrope", sans-serif;
}
.banner .common-button:hover{
   border-color:  #F4F6FC33;
   background: transparent; 
   color: white;
}
.banner .common-button-ani{
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    line-height: 28px;
    margin-left: 40px;
position: relative;
}
.banner .common-button-ani i{

    position: absolute;
    top: 5px;
  left: 102px;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
}
.banner .common-button-ani:hover i{

left: 122px;
opacity: 1;
visibility: visible;
}
.work{
    padding: 128px 154px;
    background: #F4F6FC;
}
.work h2{

color: #282938;
font-size: 48px;
font-weight: 600;
font-family: "Poppins", sans-serif;
line-height: 64px;
}
.work p{
line-height: 28px;
color: #282938;
font-size: 16px;
font-weight: 500;
font-family: "Poppins", sans-serif;
width: 405px;
padding: 16px 0;

}
.work a{
color: #2405F2;
font-size: 18px;
font-weight: 500;
font-family: "Poppins", sans-serif;
line-height: 32px;
}

.common-ani{
    position: relative;
      
}
.common-icon{
position: absolute;
top: 4px;
left: 165px;
transition: .4s;
 opacity: 0px;
 visibility: hidden;
}
.common-ani:hover .common-icon{
   left: 180px;
   opacity: 1px;
   visibility: visible;
}
.work{
padding: 106px 0px;
background: #F4F6FC;
}
.work h2{
color: #282938;
font-size: 48px;
font-weight: 600;
font-family: "Poppins", sans-serif;
line-height: 64px;

}
.work p{
color: #282938;
font-size: 18px;
font-weight: 500;
font-family: "Poppins", sans-serif;
line-height: 28px;
padding: 16px 0px;
width: 405px;
}
.work a{
color: #2405F2;

font-size: 18px;
font-weight: 400;
font-family: "Poppins", sans-serif;
line-height: 32px;;

}
.work .item{
width: 48%;

}
  .work .work-box {
    display: flex;
    flex-wrap: wrap;
gap: 20px;
}
.work .item h4{
color: #282938;
font-size: 32px;
font-weight: 600;
line-height: 48px;
font-family: "Poppins", sans-serif;
width: 405px;
}
.work .item p{
color: #282938;
font-size: 16px;
font-weight: 400;
line-height: 28px;
padding: 8px 20px;
font-family: "Poppins", sans-serif;
width: 405px;
}
.project .box{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 64px;
}
.project {
padding: 128px 0px;

}
.project h2{
color: #282938;
font-size: 48px;
font-weight: 600;
line-height: 64px;
font-family: "Poppins", sans-serif;
}
.project a{
color: #1b1515;
font-size: 16px;
font-weight: 500;
line-height: 28px;
font-family: "Poppins", sans-serif;
}
.project img{
width: 100%;

}
.overly-ani{
   position: relative; 
   overflow: hidden;
}
.overly-ani .overly{
    width: 52%;
    height: 100%;
    background-image: linear-gradient(rgba(67, 0, 236, 0.67), rgba(67, 35, 230, 0.322));
    position: absolute;
   top: 0%;
    right: -52%;
    transition: .4s;
    padding-top: 312px;
    padding-left: 48px;
    padding-right: 36px;
}


.overly-ani:hover .overly{
left: 0%;

}
.overly-ani .overly h3{
    color:#FFFFFF;
font-size: 24px;
font-weight: 600;
line-height: 36px;
font-family: "Poppins", sans-serif;
padding-top: 16px;

    padding-right: 55px;

}
.overly-ani .overly p{
    color: #ffffffb3;
font-size: 16px;
font-weight: 500;
line-height: 28px;
font-family: "Poppins", sans-serif;
}
.overly-ani .overly a{
    color: #FCD980;
font-size: 16px;
font-weight: 500;
line-height: 28px;
font-family: "Poppins", sans-serif;
top: 40px 76px;
left: 48px;

}
.slot-ani{
   position: relative; 
overflow: hidden;
}
.slot-ani .slot{
    width: 80%;
    height: 100%;
  background-image: linear-gradient(rgba(67, 0, 236, 0.67), rgba(67, 35, 230, 0.322));
    position: absolute;
    padding-top: 129px;
    padding-left: 56px;
    padding-right: 37px;
   top: 0;
    right: -80%;
    transition: .4s;
}
.slot-ani:hover .slot{
left: 0%;

}
.slot-ani .slot h4{

font-style:26px;
line-height: 36px;
font-weight: 600;
font-family: "Poppins", sans-serif;
color: #FFFFFF;
top: 129px, 83px;
left: 56px, 36px;
}
.slot-ani .slot a{

font-style:16px;
line-height: 28px;
font-weight: 500;
font-family: "Poppins", sans-serif;
color: #FCD980;
top: 10px, 45px;
left: 56px, 239px;
}


